.container{
    background: #222831;
    color: #EEEEEE;
    min-height:100vh;
}
.btn-1{
    background: red;
    color: #EEEEEE;
    border: 0;
    /* margin-top: 3em; */
    padding: 0.4em 2em;
    border-radius: 1em;
    width: 10vh;
    text-align: center;
    display: flex;
    margin: 1em auto;
    justify-content: center;
    /* margin-left: 50px; */

}
.input{
    background: black;
    color: #EEEEEE;
    margin: 1em;
    border: 0;
    padding: 0.6em 3em;
    border-radius: 1em;
}
.form{
    display: block;
    width: fit-content;
    margin: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
    padding: 10px;
}
.container{
    display: block;
    padding: 10px;
}
.container-bg{
    background-color: #222831;
    max-height: 100vh;
    min-height: 100vh;
    color:#EEEEEE;
    overflow:hidden;    
    /* position: fixed; */
}
.right{
    display: inline-block;
    vertical-align: top;
    padding: 2em;
    width: 80%;
    /* overflow-y: scroll; */
    /* position: fixed; */
    /* height: 100%; */
}
.left{
    display: inline-block;
    background-color: #393E46;
    width: 10%;
    min-height:90vh;
    max-height:90vh;
    padding: 5vh;
    display: inline-block;
}
.table-container{
    padding: 10vh 2vh;
    border-collapse: separate;
    border-spacing: 0 15px;
}
td{
    /* color: red; */
    padding: 10px 0;
    text-align: center;
}
.td-add{
    /* color: red; */
    padding: 10px 0;
    text-align: left;
    width:0%;
}
.tr-left{
    font-weight: lighter;
    cursor: grab;
    display: inline-block;
    margin: auto;
    color:#EEEEEE;
    /* position: fixed; */
}
.tr-left:hover{
    font-weight:normal;
    cursor: grab;
    display: inline-block;
}
.tr-left-selected{
    color:#00ADB5;
    font-weight: bold;
    cursor: grab;
    display: inline-block;
}
.th{
    color: #00ADB5;
    border: 1px solid #EEEEEE;
    padding: 5px;
}
.td-1{
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
}
.tditem{
    /* padding: 5px 10px; */
    /* text-align: center; */
    width: 0%;
}
.inputitem{
    background-color:transparent;
    border: 0;
    border-bottom: 1px solid #00ADB5;
    padding: 5px;
    color: #EEEEEE;
    outline: none;
    text-align: center;
    
}
.td-add-btn{
    text-align: right;
    padding-top: 2em;
    padding-right: 5em;
}
.btn-add{
    background-color: #393E46;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: #00ADB5;
    font-weight: bold;
    
    /* margin: auto; */
    /* box-shadow:1px 1px 2px 0px black; */
}
.btn-add:hover{
    background-color: #393E46;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: #00ADB5;
    font-weight: bold;
    box-shadow:1px 1px 2px 0px black;
}
.btn-add:active{
    background-color: #393E46;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: #00ADB5;
    font-weight: bold;
    box-shadow:inset 1px 1px 2px 0px black;
}