:root{
    --light:#393E46;
    --mid:#2D333B;
    --dark:#222831;
    --contrast:#00ADB5;
    --white:#EEEEEE;
}
.container{
    background: var(--dark);
    color: var(--white);
    min-height:100vh;
}
.btn-1{
    background: red;
    color: var(--white);
    border: 0;
    /* margin-top: 3em; */
    padding: 0.4em 2em;
    border-radius: 1em;
    width: 10vh;
    text-align: center;
    display: flex;
    margin: 1em auto;
    justify-content: center;
    /* margin-left: 50px; */

}
.input{
    background: black;
    color: var(--white);
    margin: 1em;
    border: 0;
    padding: 0.6em 3em;
    border-radius: 1em;
}
.form{
    display: block;
    width: fit-content;
    margin: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
    padding: 10px;
}
.container{
    display: block;
    padding: 10px;
}
.container-bg{
    background-color: var(--dark);
    max-height: 100vh;
    /* min-height: 100vh; */
    color:var(--white);
    overflow:hidden;    
    /* position: fixed; */
}
.right{
    /* display: inline-block;
    vertical-align: top;
    padding: 2em;
    width: 80%;
    overflow-y: scroll;
    position: fixed;
    height: 100%;
    max-height: 100vh; */
    /* display: block; */
    background-color: var(--dark);
    /* max-width: 80%; */
    /* min-width: 80%; */
    /* width: fit-content; */
    /* margin: auto; */
    min-height:90vh;
    max-height:90vh;
    padding: 5vh 5vh 5vh 7vh;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
}
.left{
    /* display: table; */
    float: left;
    background-color: var(--light);
    width: fit-content;
    /* min-height:93vh;
    max-height:90vh; */
    height: 96vh;
    padding: 5vh 1vh;
    display: inline-block;
}
.leftham{
    float: left;
    position: fixed;
    background-color: var(--light);
    width: fit-content;
    /* min-height:90vh;
    max-height:90vh; */
    margin: 5vh 1vh;
    
    /* padding: 1vh 1vh; */
    display: inline-block;
}
.table-container{
    padding: 10vh 2vh;
    border-collapse: separate;
    border-spacing: 0 15px;
}
td{
    /* color: red; */
    padding: 10px 0;
    text-align: center;
}
.td-add{
    /* color: red; */
    padding: 10px 0;
    text-align: left;
    width:0%;
}
.tr-left{
    font-weight: lighter;
    cursor: grab;
    display: inline-block;
    margin: auto;
    color:var(--white);
    /* position: fixed; */
}
.tr-left:hover{
    font-weight:normal;
    cursor: grab;
    display: inline-block;
}
.tr-left-selected{
    color:var(--contrast);
    font-weight: bold;
    cursor: grab;
    display: inline-block;
}
.th{
    color: var(--contrast);
    border: 1px solid var(--white);
    padding: 5px;
    background-color: var(--mid);
  position: sticky;
  top: 0;
}
.td-1{
    border: 1px solid var(--white);
    padding: 5px 10px;
}
.tditem{
    /* padding: 5px 10px; */
    /* text-align: center; */
    width: 0%;
}
.inputitem{
    background-color:transparent;
    border: 0;
    border-bottom: 1px solid var(--contrast);
    padding: 5px;
    color: var(--white);
    outline: none;
    text-align: center;
    
}
.td-add-btn{
    text-align: right;
    padding-top: 2em;
    padding-right: 5em;
}
.btn-add{
    background-color: var(--light);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    
    /* margin: auto; */
    /* box-shadow:1px 1px 2px 0px black; */
}
.btn-add:hover{
    background-color: var(--light);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    box-shadow:1px 1px 2px 0px black;
}
.btn-add:active{
    background-color: var(--light);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    box-shadow:inset 1px 1px 2px 0px black;
}
.searchbar{
        margin: 10px auto;
        float: right;
        width:20%;
        -webkit-box-shadow:inset 2px 1.5px 2px 0px black;
        box-shadow:inset 2px 1.5px 2px 0px black;
        background:var(--light);
        color:white;
        border:0;
        outline:none;
        padding:3px 7px 3px 7px;
        /* font-style: italic; */
}
.singlebar{
    margin: 20px auto;
    display: inline-block;
    text-align: center;
 
}
.btn-add1{
    background-color: var(--light);
    border: none;
    padding: 15px 25px;
    font-size: medium;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px black;
    /* margin: auto; */
    /* box-shadow:1px 1px 2px 0px black; */
}

.btn-add1:active{
    background-color: var(--light);
    border: none;
    padding: 15px 25px;
    font-size: medium;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    box-shadow:inset 1px 1px 2px 0px black;
}

.select{
    outline:none;
    /* display:inline-block; */
    width:80%;
    background-color: var(--dark);
    border: none;
    color:#fff;
    text-align: center;
    border-bottom: 1px solid var(--contrast);
    /* fill:red; */
}
.btn-add-d{
    background-color: var(--light);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    
    margin: auto;
    box-shadow:1px 1px 2px 0px black;
}
.btn-add-d:active{
    background-color: var(--light);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: var(--contrast);
    font-weight: bold;
    
    margin: auto;
    box-shadow: inset 1px 1px 2px 0px black;
}
.btn-add-d:disabled{
    background-color: rgb(75, 75, 75);
    color: rgb(116, 116, 116);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    /* color: var(--contrast); */
    font-weight: bold;
    
}
.deleteOption{
        background:var(--light);
        width:10rem;
        margin:0.5rem  auto;
        padding:1rem 5rem;
        border-radius:2px;
        color:var(--white)
}
.deleteOption:hover{
    background:var(--light);
    width:10rem;
    margin:0.5rem  auto;
    padding:1rem 5rem;
    border-radius:2px;
    color:var(--contrast);
    cursor:grab ;
}
